
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  font-size: 1.3rem;

}

hr{
  border: dotted #1B2430 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
h1{
  text-align: center;
  line-height: 2;
  font-size: 5.62rem;;
  color: #046582;
  margin-top: 50px;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive
}
h2{

  color: #79A3B1;
  margin: 20px auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
  padding-bottom: 10px;

}
h3{
  color: #0078AA;
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 2;
  color: #40514E;
}
a{
  text-decoration: none;
  color: #2C3333;
  padding:40px;
}
a:hover{
  color: #eaf5f9;
}
.top-container {
  padding-top: 100px;
  background-color: #eaf9f5;
  position: relative;
}
.middle-container{
  background-color: #FCF8E8;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 50px;
}
.bottom-container{
  background-color: #94B49F  ;
  margin: 0 auto 0;
  padding: 50px 20px 20px;
}
.pic{
  padding-top: 40px;
  height: 180px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.mountain{
  height: 400px;
}
.chess{
  margin-right: 30px;
  height: 178px;
  width: 25%;
  float: left;
}
.coding{
  margin-left: 30px;
  height: 178px;
  width: 25%;
  float: right;
}
.vid{
  margin-left: 30px;
  height: 178px;
  width: 25%;
  float: right;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.intro{
  margin: 0 auto 20px;
  width:40%;
}
.contact-description{
  margin: 40px auto 100px;
  width: 40%;
  line-height: 2;

}
.glow-on-hover {
    padding: 20px;
    width: 250px;
    height: 100px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 20px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.mark{
  padding-top: 25px;
  margin: 5px auto;
  width: 50%;
  color: #EAf5f9;
}
